@use "mixins" as *;

#blog {
  //section:nth-of-type(6)
  background-color: #12485f;

  .lightbulb {
    display: none;
  }
  .title {
    color: white;
    margin: 4vw 0 0 8.5vw;
    font-size: 2rem;
  }
  .carousel {
    margin: 5.2vw 0 7.8vw 10vw;

    .articles {
      display: flex;
      gap: 20vw;
      transition: transform 1s;

      .article {
        img {
          width: 30vw;
        }
        .article_date {
          font-size: 0.8rem;
          font-weight: 300;
          font-style: italic;
          color: white;
          margin-top: 1.5vw;
        }
        .article_title {
          color: white;
          margin-top: 1vw;
          margin-bottom: 3vw;
        }
        a.more {
          font-size: 0.8rem;
          font-weight: 300;
          font-style: italic;
          color: #97C7FF;
        }
      }
    }
    .article.active {
      display: block;
    }
    .control {
      position: absolute;
      bottom: 2.6vw;
      left: 0;
      right: 0;
      text-align: center;

      .circle {
        width: 24px;
        height: 24px;
        display: inline-block;
        border: 1px solid black;
        border-radius: 50%;
      }
      .circle.active {
        background-color: black;
      }
      .circle:last-of-type {
        display: none;
      }
    }
  }
  .triangle {
    @include triangle-right(black, 2.5vw);
  }
}
