@use "mixins" as *;

// @include anim-template(carousel_anim, transform, translateX(100vw), translateX(0));
// @include anim-template(carousel_anim_2, transform, translateX(0), translateX(-100vw));

#blog {
  //section:nth-of-type(6)
  background-color: #12485f;
  padding-left: 8.5vw;

  .triangle {
    @include triangle-left(black, 1.2vw);
  }
  .lightbulb {
    position: absolute;
    right: -22vw;
    top: 15vw;
    width: 55vw;
  }
  .title {
    color: white;
    margin-top: 5.2vw;
  }
  .carousel {
    margin: 13.4vw 30vw 13.4vw 0;

    .articles {
      display: flex;
      gap: 40vw;
      transition: transform 1s;

      .article {
        img {
          width: 50vw;
          margin-right: 10vw;
        }
        .article_date {
          font-size: 0.84rem;
          font-weight: 300;
          font-style: italic;
          color: white;
          margin: 6vw 0 2.4vw;
        }
        .article_title {
          color: white;
          line-height: 1.5em;
          margin-bottom: 4.5vw;
        }
        a.more {
          font-size: 0.84rem;
          font-weight: 300;
          font-style: italic;
          color: #97C7FF;
        }
      }
      // .article.opened {
      //   transform: translateX(0);
      //   display: block;
      // }
    }
    .article.active {
      display: block;
    }
    .control {
      position: absolute;
      bottom: 1.5vw;
      left: 0;
      right: 0;
      text-align: center;

      .circle {
        width: 2.5vw;
        height: 2.5vw;
        display: inline-block;
        border: 1px solid black;
        border-radius: 50%;
      }
      .circle.active {
        background-color: black;
      }
    }
  }
}
