#main-footer {
    padding: 4vw 0 2.5vw 4vw;
  
    .logo {
      width: 30vw;
    }
    .data {
      padding: 4vw 0 7.5vw;
      font-size: 0.6rem;
    }
    .privacy {
      display: block;
      font-size: 0.6rem;
      color: black;
    }
  }