#main-footer {
    padding: 5vw 0 0 5vw;
  
    .logo {
      width: 15.6vw;
    }
    .data {
      padding: 1vw 0 0;
      font-size: 1.1rem;
    }
    .privacy {
      display: block;
      font-size: 1.1rem;
      color: black;
      float: right;
      margin: 1vw 2.75vw 1vw 0;
    }
  }