.hamburger {
    display: inline-block;
    width: 85.62px;
    height: 34.28px;
    position: absolute;
    top: 70px;
    right: 64.71px;
    cursor: pointer;
  }
  .hamburger hr {
    width: 85.62px;
    height: 6.86px;
    background-color: black;
    border: none;
  }
  .hamburger hr:first-of-type {
    margin-bottom: 6.86px;
  }
  .hamburger hr:last-of-type {
    margin-top: 6.86px;
  }