@use "mixins" as *;

#jak_dzialamy {
  //section:nth-of-type(2)
  background-color: #12485F;
  
  .content {
    padding: 6vw 13vw 10vw;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
  }
  .triangle {
    @include triangle-left(black, 4vw);
  }
}
