@use "sass:math";
@use "mixins" as *;

#kontakt {
  //section:nth-of-type(7)
  background-color: black;
  padding-bottom: 10vw;

  .form {
    float: right;
    color: white;

    .title {
      font-size: 1.6rem;
      margin-top: 6.75vw;
    }
    form {
      display: block;
      margin: 3vw 3.75vw 0 0;

      label {
        display: block;
        font-size: 1.4rem;
        font-weight: 300;
        margin: 1vw 0 2vw;
      }
      label.top {
        display: none;
      }
      input,
      textarea {
        display: block;
        line-height: 2.1rem;
        width: 38.5vw;
        border: none;
        padding: 0 0.5vw;
        font-family: inherit;
        font-size: inherit;
      }
      input:focus,
      textarea:focus {
        outline: none;
      }
      button {
        all: unset;
        cursor: pointer;
        color: #2CC5F4;
        font-style: italic;
        font-weight: 300;
        float: right;
        font-size: 1.4rem;
        margin-top: 2vw;
      }
    }
  }
  .asap {
    $section-width: 45vw;
    $section-height: math.div($section-width * 345, 587);

    position: relative;
    height: $section-height;
    width: $section-width;
    text-align: center;
    margin: 10vw 0 0 4vw;
    float: left;

    img {
      position: absolute;
      display: inline-block;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
    }
    .content {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: $section-height;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        color: white;
        margin: 0;
        font-size: 1.6rem;
      }
      a {
        display: block;
        color: white;
        font-size: 1.2rem;
      }
      a:first-of-type {
        margin: 1vw;
      }
    }
  }
}
