#tytul {
  //section:nth-of-type(1)
  $section-height: #{calc(100vh - 24vw)};
  $animation-width: calc($section-height * 700 / 394);

  height: $section-height;

  .background-video {
    position: absolute;
    top: 0;
    height: $section-height;
    left: calc(50vw - $animation-width / 2);
    z-index: -1;
  }
  // @mixin accessibility_link {
  //   position: absolute;
  //   border-radius: 50%;
  //   background-color: white;
  //   display: inline-block;
  //   width: 103.2px;
  //   height: 101px;
  //   top: 57px;
  // }
  // .disabled {
  //   animation: disabled_anim 2s ease 1.5s 1 normal both;
  //   @include accessibility_link;
  //   img {
  //     padding: 21.96px 17.57px 21.96px 15.37px;
  //   }
  // }
  // .font {
  //   animation: font_anim 2s ease 1s 1 normal both;
  //   @include accessibility_link;
  //   img {
  //     padding: 37px 17.28px 22.28px 17.85px;
  //   }
  // }
  // .contrast {
  //   animation: contrast_anim 2s ease 0.5s 1 normal both;
  //   @include accessibility_link;
  //   img {
  //     padding: 32.93px;
  //   }
  // }
  .description {
    position: absolute;
    bottom: 9vw;
    left: 8vw;
    right: 8vw;
    color: #fdfdfd;
    text-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
    .title {
      font-size: 42px;
    }
    .content {
      font-size: 30px;
      margin-top: 5vw;
    }
  }
}
