@use "mixins" as *;

#uslugi {
  //section:nth-of-type(3)
  background: black;
  padding: 7.2vw 5.2vw 5.2vw;
  .col {
    display: none;
  }
  .tbl {
    div a {
      display: block;

      span {
        font-size: 1.4rem;
        color: white;
      }
    }
    div:first-of-type a:first-of-type {
      width: 15.9vw;
      margin: 0 auto;

      span {
        display: block;
        text-align: center;
        margin: 0 -15% 2vw;
      }
      img {
        width: 15.9vw;
      }
    }
    div:nth-of-type(2) a:first-of-type {
      float: left;
      margin-left: 6.2vw;

      span {
        line-height: 10.5vw;
        margin-right: 5.2vw;
        display: block;
        float: left;
      }
      img {
        width: 6.8vw;
      }
    }
    div:nth-of-type(2) a:nth-of-type(2) {
      float: right;
      margin-right: 8.3vw;
      margin-top: 0.8vw;
      img {
        width: 10.3vw;
      }
      span {
        line-height: 9vw;
        margin-left: 1vw;
        display: block;
        float: right;
      }
    }
    div:nth-of-type(3) {
      margin: 7.8vw 0;
    }
    div:nth-of-type(3) a:first-of-type {
      clear: both;
      float: left;

      span {
        line-height: 8.3vw;
        margin-right: 3vw;
        display: block;
        float: left;
      }
      img {
        width: 8.15vw;
      }
    }
    div:nth-of-type(3) a:nth-of-type(2) {
      float: right;
      margin-right: 0.5vw;
      margin-top: 1vw;
      img {
        width: 12.5vw;
      }
      span {
        line-height: 6.6vw;
        margin-left: 2vw;
        display: block;
        float: right;
      }
    }
    div:nth-of-type(4) a:first-of-type {
      clear: both;
      float: left;
      margin-top: 1.3vw;
      span {
        line-height: 2.23vw;
        margin-right: 4vw;
        display: block;
        float: left;
      }
      img {
        width: 8.3vw;
      }
    }
    div:nth-of-type(4) a:nth-of-type(2) {
      float: right;
      margin-right: 8.3vw;
      img {
        width: 9.4vw;
      }
      span {
        line-height: 11.5vw;
        margin-left: 2.6vw;
        display: block;
        float: right;
      }
    }
    div:nth-of-type(5) {
      padding-right: 5vw;

      a:first-of-type {
        clear: both;
        width: 15.58vw;
        margin: 0 auto;

        span {
          display: block;
          text-align: center;
          margin: 2vw -10% 0;
        }
        img {
          width: 15.58vw;
        }
      }
    }
  }
  .triangle {
    @include triangle-right(white, 5.2vw);
  }
}

.bookmarks {
  display: none;
}
