@use "mixins" as *;

#zaufali_mi {
  //section:nth-of-type(4)
  margin-top: -2vw;

  .title {
    margin-left: 3vw;
    font-size: 2rem;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10vw 0 9vw;

    a:nth-of-type(1) {
      order: 4;

      img, picture {
        width: 29.5vw;
      }
    }
    a:nth-of-type(2) {
      order: 2;

      img, picture {
        width: 24vw;
      }
    }
    a:nth-of-type(3) {
      display: none;
    }
    a:nth-of-type(4) {
      order: 3;

      img, picture {
        width: 19vw;
      }
    }
    a:nth-of-type(5) {
      order: 1;

      img, picture {
        width: 7.5vw;
      }
    }
    a:nth-of-type(6) {
      display: none;
    }
  }
  .triangle {
    @include triangle-right(black, 1vw);
  }
}
