@-webkit-keyframes nav_anim {
  from {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0px;
  }
  to {
    margin: calc(calc(100vh - 24vw) / 22) 0px;
  }
}
@keyframes nav_anim {
  from {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0px;
  }
  to {
    margin: calc(calc(100vh - 24vw) / 22) 0px;
  }
}
@-webkit-keyframes nav_anim_2 {
  from {
    margin: calc(calc(100vh - 24vw) / 22) 0px;
  }
  to {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0px;
  }
}
@keyframes nav_anim_2 {
  from {
    margin: calc(calc(100vh - 24vw) / 22) 0px;
  }
  to {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0px;
  }
}
@-webkit-keyframes back_anim {
  from {
    bottom: 0px;
  }
  to {
    bottom: calc(0px - calc(100vh - 24vw));
  }
}
@keyframes back_anim {
  from {
    bottom: 0px;
  }
  to {
    bottom: calc(0px - calc(100vh - 24vw));
  }
}
@-webkit-keyframes back_anim_2 {
  from {
    bottom: calc(0px - calc(100vh - 24vw));
  }
  to {
    bottom: 0px;
  }
}
@keyframes back_anim_2 {
  from {
    bottom: calc(0px - calc(100vh - 24vw));
  }
  to {
    bottom: 0px;
  }
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}
header .main-header {
  position: relative;
  z-index: 2;
  background-color: white;
}
header .main-header .logo {
  display: inline-block;
  margin: 8vw 0 8vw 6.5vw;
  height: 8vw;
}
header .main-header .logo img {
  display: inline-block;
  width: 48vw;
}
header .main-header .hamburger {
  position: absolute;
  top: 9.8333333333vw;
  right: 9.5vw;
}
header .main-header .hamburger hr {
  width: 13vw;
  height: 0.8666666667vw;
  background-color: black;
  border: none;
}
header .main-header .hamburger hr:first-of-type {
  margin-bottom: 0.8666666667vw;
}
header .main-header .hamburger hr:last-of-type {
  margin-top: 0.8666666667vw;
}
header .background-video {
  display: inline-block;
  position: absolute;
  height: calc(100vh - 24vw);
  margin: 0 calc(50vw - calc(100vh - 24vw) * 700 / 394 / 2);
}
header .background-video.closed {
  bottom: 0px;
}
header .background-video.opening {
  -webkit-animation: back_anim 1s ease 0s 1 normal both;
          animation: back_anim 1s ease 0s 1 normal both;
}
header .background-video.opened {
  bottom: calc(0px - calc(100vh - 24vw));
}
header .background-video.closing {
  -webkit-animation: back_anim_2 1s ease 0s 1 normal both;
          animation: back_anim_2 1s ease 0s 1 normal both;
}
header .navigation {
  position: absolute;
  top: 24vw;
  right: 0px;
  left: 0px;
}
header .navigation li a {
  line-height: calc(calc(100vh - 24vw) / 44 * 5);
  color: black;
  font-size: 30px;
  display: block;
  background-color: white;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
header .navigation.closed li a {
  margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0px;
}
header .navigation.opening li a {
  -webkit-animation: nav_anim 1s ease 0s 1 normal both;
          animation: nav_anim 1s ease 0s 1 normal both;
}
header .navigation.opened li a {
  margin: calc(calc(100vh - 24vw) / 22) 0;
}
header .navigation.closing li a {
  -webkit-animation: nav_anim_2 1s ease 0s 1 normal both;
          animation: nav_anim_2 1s ease 0s 1 normal both;
}/*# sourceMappingURL=header_styles.css.map */