@use "sass:math";

$logo-width: 48vw;
$logo-height: math.div($logo-width, 6);
$header-height: $logo-height * 3;

$hamburger-width: 13vw;
$hamburger-height: math.div($hamburger-width, 3);
$hamburger-line-height: math.div($hamburger-height, 5);

$nav-height: #{calc(100vh - $header-height)};
$minus-nav-height: calc(0px - $nav-height);
$nav-line-height: calc($nav-height / 44 * 5);
$minus-nav-line-height: calc(0px - $nav-line-height);
$nav-margin-height: calc($nav-height / 22);
$animation-width: calc($nav-height * 700 / 394);

@mixin anim-template($name, $parametr, $value1, $value2) {
  @keyframes #{$name} {
    from {
      #{$parametr}: $value1;
    }
    to {
      #{$parametr}: $value2;
    }
  }
}
@include anim-template(nav_anim, margin, $minus-nav-line-height 0px, $nav-margin-height 0px);
@include anim-template(nav_anim_2, margin, $nav-margin-height 0px, $minus-nav-line-height 0px);
@include anim-template(back_anim, bottom, 0px, $minus-nav-height);
@include anim-template(back_anim_2, bottom, $minus-nav-height, 0px);

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;

  .main-header {
    position: relative;
    z-index: 2;
    background-color: white;
    .logo {
      display: inline-block;
      margin: $logo-height 0 $logo-height 6.5vw;
      height: $logo-height;

      img {
        display: inline-block;
        width: $logo-width;
      }
    }
    .hamburger {
      position: absolute;
      top: calc($header-height / 2 - $hamburger-height / 2);
      right: 9.5vw;

      hr {
        width: $hamburger-width;
        height: $hamburger-line-height;
        background-color: black;
        border: none;
      }
      hr:first-of-type {
        margin-bottom: $hamburger-line-height;
      }
      hr:last-of-type {
        margin-top: $hamburger-line-height;
      }
    }
  }

  .background-video {
    display: inline-block;
    position: absolute;
    height: $nav-height;
    margin: 0 calc(50vw - $animation-width / 2);
  }
  .background-video.closed {
    bottom: 0px;
  }
  .background-video.opening {
    animation: back_anim 1s ease 0s 1 normal both;
  }
  .background-video.opened {
    bottom: $minus-nav-height;
  }
  .background-video.closing {
    animation: back_anim_2 1s ease 0s 1 normal both;
  }

  .navigation {
    position: absolute;
    top: $header-height;
    right: 0px;
    left: 0px;

    li a {
      line-height: $nav-line-height;
      color: black;
      font-size: 30px;
      display: block;
      background-color: white;
      text-align: center;
      text-decoration: none;
      position: relative;
      z-index: 1;
    }
  }
  .navigation.closed li a {
    margin: $minus-nav-line-height 0px;
  }
  .navigation.opening li a {
    animation: nav_anim 1s ease 0s 1 normal both;
  }
  .navigation.opened li a {
    margin: $nav-margin-height 0;
  }
  .navigation.closing li a {
    animation: nav_anim_2 1s ease 0s 1 normal both;
  }
}
