header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: white;
  padding: 25px 0 15px;
}
header .main-header {
  float: left;
  height: 60px;
}
header .main-header .logo {
  display: inline-block;
  height: 60px;
  margin: 0 calc((100vw - 900px) / 15) 0 calc((100vw - 900px) * 2 / 15);
}
header .main-header .logo img {
  display: inline-block;
  height: 60px;
}
header .main-header .hamburger {
  display: none;
}
header .background-video {
  display: none;
}
header .navigation {
  float: left;
}
header .navigation li {
  display: inline-block;
  margin: 0 calc((100vw - 900px) / 15);
}
header .navigation li a {
  color: black;
  display: inline-block;
  line-height: 60px;
}

#tytul {
  height: 100vh;
}
#tytul .background-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}
#tytul .logo {
  position: absolute;
  bottom: 300px;
  left: 100px;
  height: 120px;
}
#tytul .description {
  position: absolute;
  bottom: 200px;
  left: 100px;
}
#tytul .description .title {
  font-size: 2.4em;
  color: #fdfdfd;
  text-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
}
#tytul .description .content {
  display: none;
}
#tytul .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100vw solid #12485F;
  border-top: 4vw solid transparent;
}

#jak_dzialamy {
  background-color: #12485f;
}
#jak_dzialamy .content {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: white;
  width: 70%;
  margin: 100px auto 150px;
  text-align: center;
}
#jak_dzialamy .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 100vw solid black;
  border-top: 4vw solid transparent;
}

#uslugi {
  background: black;
  padding: 50px 0 100px;
}
#uslugi .col {
  display: none;
}
#uslugi .tbl div a {
  display: block;
}
#uslugi .tbl div a span {
  color: white;
  display: block;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a {
  width: 50%;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a:first-of-type {
  float: left;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a:first-of-type span {
  float: right;
  margin-right: 20px;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a:first-of-type img {
  float: right;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a:nth-of-type(2) {
  float: right;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a:nth-of-type(2) span {
  float: left;
  margin-left: 20px;
}
#uslugi .tbl :not(div:first-of-type, div:nth-of-type(5)) a:nth-of-type(2) img {
  float: left;
}
#uslugi .tbl div:first-of-type a {
  width: 150px;
  margin: 0 auto;
}
#uslugi .tbl div:first-of-type a span {
  text-align: center;
  margin: 0 -100px 20px;
}
#uslugi .tbl div:first-of-type a img {
  width: 150px;
}
#uslugi .tbl div:nth-of-type(2) a:first-of-type {
  padding-right: 170px;
}
#uslugi .tbl div:nth-of-type(2) a:first-of-type span {
  line-height: 100px;
}
#uslugi .tbl div:nth-of-type(2) a:first-of-type img {
  height: 100px;
}
#uslugi .tbl div:nth-of-type(2) a:nth-of-type(2) {
  padding-left: 170px;
}
#uslugi .tbl div:nth-of-type(2) a:nth-of-type(2) img {
  height: 100px;
}
#uslugi .tbl div:nth-of-type(2) a:nth-of-type(2) span {
  line-height: 100px;
}
#uslugi .tbl div:nth-of-type(3) {
  margin: 50px 0;
}
#uslugi .tbl div:nth-of-type(3) a:first-of-type {
  padding-right: 190px;
}
#uslugi .tbl div:nth-of-type(3) a:first-of-type span {
  line-height: 88px;
}
#uslugi .tbl div:nth-of-type(3) a:first-of-type img {
  height: 88px;
}
#uslugi .tbl div:nth-of-type(3) a:nth-of-type(2) {
  padding-left: 200px;
  margin-bottom: 10px;
}
#uslugi .tbl div:nth-of-type(3) a:nth-of-type(2) img {
  height: 78px;
}
#uslugi .tbl div:nth-of-type(3) a:nth-of-type(2) span {
  line-height: 78px;
}
#uslugi .tbl div:nth-of-type(4) a:first-of-type {
  padding-right: 130px;
  margin: 5px 0 20px;
}
#uslugi .tbl div:nth-of-type(4) a:first-of-type span {
  line-height: 43px;
}
#uslugi .tbl div:nth-of-type(4) a:first-of-type img {
  height: 86px;
}
#uslugi .tbl div:nth-of-type(4) a:nth-of-type(2) {
  padding-left: 130px;
}
#uslugi .tbl div:nth-of-type(4) a:nth-of-type(2) img {
  height: 111px;
}
#uslugi .tbl div:nth-of-type(4) a:nth-of-type(2) span {
  line-height: 111px;
}
#uslugi .tbl div:nth-of-type(5) {
  width: 100%;
}
#uslugi .tbl div:nth-of-type(5) a {
  width: 150px;
  margin: 0 auto;
}
#uslugi .tbl div:nth-of-type(5) a img {
  width: 150px;
  margin-top: -20px;
}
#uslugi .tbl div:nth-of-type(5) a span {
  text-align: center;
  margin: 20px -100px 0;
}
#uslugi .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100vw solid white;
  border-top: 5.1111111111vw solid transparent;
}

.bookmarks {
  display: none;
}

#zaufali_mi .title {
  margin-left: 100px;
  font-size: 1.4em;
  color: black;
}
#zaufali_mi .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
}
#zaufali_mi .content a:nth-of-type(1) {
  order: 4;
}
#zaufali_mi .content a:nth-of-type(1) img,
#zaufali_mi .content a:nth-of-type(1) picture {
  width: 29.5vw;
}
#zaufali_mi .content a:nth-of-type(2) {
  order: 2;
}
#zaufali_mi .content a:nth-of-type(2) img,
#zaufali_mi .content a:nth-of-type(2) picture {
  width: 24vw;
}
#zaufali_mi .content a:nth-of-type(3) {
  display: none;
}
#zaufali_mi .content a:nth-of-type(4) {
  order: 3;
}
#zaufali_mi .content a:nth-of-type(4) img,
#zaufali_mi .content a:nth-of-type(4) picture {
  width: 19vw;
}
#zaufali_mi .content a:nth-of-type(5) {
  order: 1;
}
#zaufali_mi .content a:nth-of-type(5) img,
#zaufali_mi .content a:nth-of-type(5) picture {
  width: 7.5vw;
}
#zaufali_mi .content a:nth-of-type(6) {
  display: none;
}
#zaufali_mi .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100vw solid black;
  border-top: 1.1111111111vw solid transparent;
}

#o_mnie {
  background-color: black;
  height: 50vw;
}
#o_mnie .portrait {
  height: 40vw;
  position: absolute;
  top: 7.3vw;
  left: 7.3vw;
}
#o_mnie .cosmic_img {
  display: none;
}
#o_mnie .text .title {
  font-size: 1.4em;
  color: white;
  text-align: right;
  margin: 80px 200px 160px 0;
}
#o_mnie .text .content {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: grey;
  margin: 0 100px 0 50%;
  text-align: justify;
  position: relative;
}
#o_mnie .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-right: 100vw solid #12485f;
  border-top: 1.7777777778vw solid transparent;
}

#blog {
  background-color: #12485f;
}
#blog .lightbulb {
  display: none;
}
#blog .title {
  font-size: 1.4em;
  color: white;
  margin: 50px 0 0 100px;
}
#blog .carousel {
  margin: 60px 0 100px 10vw;
}
#blog .carousel .articles {
  display: flex;
  gap: 20vw;
  transition: transform 1s;
}
#blog .carousel .articles .article {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: white;
}
#blog .carousel .articles .article img {
  width: 30vw;
}
#blog .carousel .articles .article .article_date {
  font-size: 0.8em;
  font-weight: lighter;
  font-style: italic;
  margin-top: 15px;
}
#blog .carousel .articles .article .article_title {
  margin: 10px 0 30px;
}
#blog .carousel .articles .article a.more {
  font-weight: lighter;
  font-style: italic;
  color: #2CC5F4;
}
#blog .carousel .article.active {
  display: block;
}
#blog .carousel .control {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
}
#blog .carousel .control .circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
}
#blog .carousel .control .circle.active {
  background-color: black;
}
#blog .carousel .control .circle:last-of-type {
  display: none;
}
#blog .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100vw solid black;
  border-top: 2.6666666667vw solid transparent;
}

#kontakt {
  background-color: black;
  padding: 0 5vw 50px;
}
#kontakt .form {
  float: right;
}
#kontakt .form .title {
  font-size: 1.4em;
  color: white;
  margin: 80px 0 40px;
}
#kontakt .form form {
  display: block;
}
#kontakt .form form label.bottom {
  display: block;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: white;
  font-weight: lighter;
  margin: 10px 0 30px;
}
#kontakt .form form label.top {
  display: none;
}
#kontakt .form form input,
#kontakt .form form textarea {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: black;
  display: block;
  width: 35vw;
  border: none;
  padding: 5px;
}
#kontakt .form form input:focus,
#kontakt .form form textarea:focus {
  outline: none;
}
#kontakt .form form textarea {
  resize: vertical;
  font-family: inherit;
  min-height: calc(4.5em + 10px);
}
#kontakt .form form button {
  all: unset;
  cursor: pointer;
  font-style: italic;
  font-weight: lighter;
  float: right;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: #2CC5F4;
}
#kontakt .asap {
  position: relative;
  height: 26.4480408859vw;
  width: 45vw;
  text-align: center;
  margin-top: 150px;
  float: left;
}
#kontakt .asap img {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
#kontakt .asap .content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 26.4480408859vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#kontakt .asap .content a {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: white;
  display: block;
}
#kontakt .asap .content a:first-of-type {
  margin: 10px;
}

#main-footer {
  padding: 30px;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: black;
  font-size: 0.6em;
}
#main-footer .logo {
  height: 30px;
}
#main-footer .data {
  padding-top: 10px;
}
#main-footer .privacy {
  display: block;
  color: black;
  float: right;
  margin-top: -10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  font-family: "Rubik";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body.no_scroll {
  overflow: hidden;
}

#main-content {
  margin-top: 100px;
}

section {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=home_styles_large.css.map */