@use "header_styles_small";
@use "tytul_small";
@use "jak_dzialamy_small";
@use "uslugi_small";
@use "zaufali_mi_small";
@use "o_mnie_small";
@use "blog_small";
@use "kontakt_small";
@use "footer_styles_small";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Rubik";
  font-size: 3.7vw;
}
a {
  text-decoration: none;
}
body.no_scroll {
  overflow-y: hidden;
}
#main-content {
  margin-top: 24vw;
}
section {
  position: relative;
  overflow: hidden;
}
