@-webkit-keyframes nav_anim {
  from {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0;
  }
  to {
    margin: calc(calc(100vh - 24vw) / 22) 0;
  }
}
@keyframes nav_anim {
  from {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0;
  }
  to {
    margin: calc(calc(100vh - 24vw) / 22) 0;
  }
}
@-webkit-keyframes nav_anim_2 {
  from {
    margin: calc(calc(100vh - 24vw) / 22) 0;
  }
  to {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0;
  }
}
@keyframes nav_anim_2 {
  from {
    margin: calc(calc(100vh - 24vw) / 22) 0;
  }
  to {
    margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0;
  }
}
@-webkit-keyframes back_anim {
  from {
    bottom: 0;
  }
  to {
    bottom: calc(0px - calc(100vh - 24vw));
  }
}
@keyframes back_anim {
  from {
    bottom: 0;
  }
  to {
    bottom: calc(0px - calc(100vh - 24vw));
  }
}
@-webkit-keyframes back_anim_2 {
  from {
    bottom: calc(0px - calc(100vh - 24vw));
  }
  to {
    bottom: 0;
  }
}
@keyframes back_anim_2 {
  from {
    bottom: calc(0px - calc(100vh - 24vw));
  }
  to {
    bottom: 0;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
header .main-header {
  position: relative;
  z-index: 2;
  background-color: white;
}
header .main-header .logo {
  display: inline-block;
  margin: 8vw 0 8vw 6.5vw;
  height: 8vw;
}
header .main-header .logo img {
  display: inline-block;
  width: 48vw;
}
header .main-header .hamburger {
  position: absolute;
  top: 9.8333333333vw;
  right: 9.5vw;
}
header .main-header .hamburger hr {
  width: 13vw;
  height: 0.8666666667vw;
  background-color: black;
  border: none;
}
header .main-header .hamburger hr:first-of-type {
  margin-bottom: 0.8666666667vw;
}
header .main-header .hamburger hr:last-of-type {
  margin-top: 0.8666666667vw;
}
header .background-video {
  display: inline-block;
  position: absolute;
  height: calc(100vh - 24vw);
  margin: 0 calc(50vw - calc(100vh - 24vw) * 700 / 394 / 2);
}
header .background-video.closed {
  bottom: 0;
}
header .background-video.opening {
  -webkit-animation: back_anim 1s ease 0s 1 normal both;
          animation: back_anim 1s ease 0s 1 normal both;
}
header .background-video.opened {
  bottom: calc(0px - calc(100vh - 24vw));
}
header .background-video.closing {
  -webkit-animation: back_anim_2 1s ease 0s 1 normal both;
          animation: back_anim_2 1s ease 0s 1 normal both;
}
header .navigation {
  position: absolute;
  top: 24vw;
  right: 0;
  left: 0;
}
header .navigation li a {
  line-height: calc(calc(100vh - 24vw) / 44 * 5);
  color: black;
  background-color: white;
  text-align: center;
  display: block;
  position: relative;
  z-index: 1;
}
header .navigation.closed li a {
  margin: calc(0px - calc(100vh - 24vw) / 44 * 5) 0;
}
header .navigation.opening li a {
  -webkit-animation: nav_anim 1s ease 0s 1 normal both;
          animation: nav_anim 1s ease 0s 1 normal both;
}
header .navigation.opened li a {
  margin: calc(calc(100vh - 24vw) / 22) 0;
}
header .navigation.closing li a {
  -webkit-animation: nav_anim_2 1s ease 0s 1 normal both;
          animation: nav_anim_2 1s ease 0s 1 normal both;
}

#tytul {
  height: calc(100vh - 24vw);
}
#tytul .background-video {
  position: absolute;
  top: 0;
  height: calc(100vh - 24vw);
  left: calc(50vw - calc(100vh - 24vw) * 700 / 394 / 2);
  z-index: -1;
}
#tytul .description {
  position: absolute;
  bottom: 9vw;
  left: 8vw;
  right: 8vw;
  color: #fdfdfd;
  text-shadow: 12px 4px 4px rgba(0, 0, 0, 0.25);
}
#tytul .description .title {
  font-size: 42px;
}
#tytul .description .content {
  font-size: 30px;
  margin-top: 5vw;
}

#jak_dzialamy {
  background-color: #75a3b7;
}
#jak_dzialamy .content {
  padding: 15vw 13vw 12vw;
  text-align: center;
  color: #ffffff;
}

@-webkit-keyframes bookmark_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bookmark_anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes bookmark_anim_2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes bookmark_anim_2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#uslugi {
  background: black;
  padding: 0 12vw;
}
#uslugi .col {
  width: 50%;
  float: left;
  position: relative;
}
#uslugi .col .item {
  width: 50%;
  margin: 15vw 0;
}
#uslugi .col span {
  display: block;
  text-align: center;
  padding-top: 5vw;
  color: white;
  margin: 0 -100%;
}
#uslugi .col:first-of-type .item {
  float: left;
}
#uslugi .col:first-of-type .item:nth-of-type(1) {
  margin-top: 3.7vw;
}
#uslugi .col:first-of-type .item:nth-of-type(1) img {
  width: 20vw;
}
#uslugi .col:first-of-type .item:nth-of-type(2) img {
  width: 30vw;
}
#uslugi .col:first-of-type .item:nth-of-type(3) {
  width: 100%;
}
#uslugi .col:first-of-type .item:nth-of-type(3) img {
  width: 39vw;
}
#uslugi .col:first-of-type .item:nth-of-type(4) img {
  margin-left: -6vw;
  width: 27vw;
}
#uslugi .col:nth-of-type(2) .item {
  float: right;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(1) {
  margin-top: 43vw;
  width: 100%;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(1) img {
  width: 37.5vw;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(2) img {
  margin-left: -3vw;
  width: 24vw;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(3) {
  width: 100%;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(3) img {
  width: 39vw;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(4) {
  margin-bottom: 10vw;
}
#uslugi .col:nth-of-type(2) .item:nth-of-type(4) img {
  width: 24.5vw;
}

.bookmarks .bookmark {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: #12485f;
}
.bookmarks .bookmark .icon {
  display: block;
  height: 25vh;
  margin: 14vw auto 6vw;
}
.bookmarks .bookmark .title {
  color: white;
  text-align: center;
}
.bookmarks .bookmark .content {
  color: white;
  padding: 10vw;
}
.bookmarks .bookmark a {
  display: inline-block;
  width: 11.5vw;
  height: 13.5vw;
  position: absolute;
  bottom: 4.5vw;
  right: 7.5vw;
}
.bookmarks .bookmark a img {
  width: 11.5vw;
}
.bookmarks .bookmark.closed {
  display: none;
}
.bookmarks .bookmark.opening {
  -webkit-animation: bookmark_anim 500ms ease 0s 1 normal both;
          animation: bookmark_anim 500ms ease 0s 1 normal both;
}
.bookmarks .bookmark.opened {
  display: block;
}
.bookmarks .bookmark.closing {
  -webkit-animation: bookmark_anim_2 500ms ease 0s 1 normal both;
          animation: bookmark_anim_2 500ms ease 0s 1 normal both;
}

#zaufali_mi .triangle {
  width: 0;
  height: 0;
  border-right: 100vw solid black;
  border-bottom: 3.6vw solid transparent;
}
#zaufali_mi .title {
  margin: 4.5vw 0 4.5vw 7vw;
}
#zaufali_mi .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.5vw;
}
#zaufali_mi .content a:nth-of-type(odd) {
  margin-left: 10vw;
}
#zaufali_mi .content a:nth-of-type(even) {
  margin-right: 10vw;
}
#zaufali_mi .content a:nth-of-type(1) img {
  width: 41.75vw;
}
#zaufali_mi .content a:nth-of-type(2) img {
  width: 29vw;
}
#zaufali_mi .content a:nth-of-type(3) img {
  width: 39vw;
}
#zaufali_mi .content a:nth-of-type(4) img {
  width: 31.8vw;
}
#zaufali_mi .content a:nth-of-type(5) img {
  width: 30.3vw;
}
#zaufali_mi .content a:nth-of-type(6) img {
  width: 18vw;
}

#o_mnie {
  background-color: black;
  height: 86.0326894502vw;
}
#o_mnie .triangle {
  width: 0;
  height: 0;
  border-left: 100vw solid white;
  border-bottom: 2.7vw solid transparent;
}
#o_mnie .portrait {
  position: absolute;
  top: 2vw;
  width: 100vw;
}
#o_mnie .cosmic_img {
  position: absolute;
  right: 2.5vw;
  top: 2.5vw;
  width: 13vw;
}
#o_mnie .text {
  position: relative;
  display: block;
  margin: 4vw 12vw 0 50vw;
  color: #3898c4;
}
#o_mnie .text .content {
  font-size: 0.84rem;
  font-weight: 300;
  margin-top: 4.5vw;
}

@-webkit-keyframes carousel_anim {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes carousel_anim {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes carousel_anim_2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes carousel_anim_2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
#blog {
  background-color: #12485f;
  padding-left: 8.5vw;
}
#blog .triangle {
  width: 0;
  height: 0;
  border-right: 100vw solid black;
  border-bottom: 1.8vw solid transparent;
}
#blog .lightbulb {
  position: absolute;
  right: -22vw;
  top: 15vw;
  width: 55vw;
}
#blog .title {
  color: white;
  margin-top: 5.2vw;
}
#blog .carousel {
  margin: 13.4vw 30vw 13.4vw 0;
}
#blog .carousel .articles {
  display: flex;
  gap: 40vw;
  transition: transform 1s;
}
#blog .carousel .articles .article img {
  width: 50vw;
  margin-right: 10vw;
}
#blog .carousel .articles .article .article_date {
  font-size: 0.84rem;
  font-weight: 300;
  font-style: italic;
  color: white;
  margin: 6vw 0 2.4vw;
}
#blog .carousel .articles .article .article_title {
  color: white;
  line-height: 1.5em;
  margin-bottom: 4.5vw;
}
#blog .carousel .articles .article a.more {
  font-size: 0.84rem;
  font-weight: 300;
  font-style: italic;
  color: #97C7FF;
}
#blog .carousel .article.active {
  display: block;
}
#blog .carousel .control {
  position: absolute;
  bottom: 1.5vw;
  left: 0;
  right: 0;
  text-align: center;
}
#blog .carousel .control .circle {
  width: 1.8vw;
  height: 1.8vw;
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
}
#blog .carousel .control .circle.active {
  background-color: black;
}

#kontakt {
  background-color: black;
}
#kontakt .triangle {
  width: 0;
  height: 0;
  border-left: 100vw solid #12485f;
  border-bottom: 1.2vw solid transparent;
}
#kontakt .title {
  color: white;
  margin: 12vw 0 0 7.5vw;
}
#kontakt form {
  display: block;
  margin: 9vw 7.5vw 19vw;
}
#kontakt form label {
  display: block;
  color: white;
  font-size: 0.84rem;
  font-weight: 300;
  margin: 5vw 0 2vw;
}
#kontakt form input,
#kontakt form textarea {
  display: block;
  line-height: 2.1rem;
  width: 100%;
  border: none;
  padding: 0 1.5vw;
  font-family: inherit;
  font-size: inherit;
}
#kontakt form input:focus,
#kontakt form textarea:focus {
  outline: none;
}
#kontakt form button {
  all: unset;
  cursor: pointer;
  color: #97c7ff;
  font-style: italic;
  font-weight: 300;
  float: right;
  margin-top: 6.8vw;
}
#kontakt .asap {
  position: relative;
  height: 52.8960817717vw;
  text-align: center;
  margin: 0 4.5vw 15vw;
}
#kontakt .asap img {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
#kontakt .asap .content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 52.8960817717vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kontakt .asap .content .title {
  color: white;
  margin: 0;
}
#kontakt .asap .content a {
  display: block;
  color: white;
}
#kontakt .asap .content a:first-of-type {
  margin: 4.5vw 0;
}

#main-footer {
  padding: 4vw 0 2.5vw 4vw;
}
#main-footer .logo {
  width: 30vw;
}
#main-footer .data {
  padding: 4vw 0 7.5vw;
  font-size: 0.6rem;
}
#main-footer .privacy {
  display: block;
  font-size: 0.6rem;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Rubik";
  font-size: 3.7vw;
}

a {
  text-decoration: none;
}

body.no_scroll {
  overflow-y: hidden;
}

#main-content {
  margin-top: 24vw;
}

section {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=home_styles.css.map */